@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

body, html { 
    font-family: 'Montserrat', sans-serif;
  }

#root{
  min-width: 300px;
  min-height: 300px;
}

video{
  width: 100%;
  border-bottom: 1px solid black;
  z-index: -100;
  position: absolute;
}

.dropdown-menu{
  background: transparent;
  color: red;
}

